<html>
  <head>
    <h1><center><b>ABOUT US</b></center></h1>
    <!-- Include the bootstrap stylesheets -->
    <link href="http://bootswatch.com/superhero/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
  <center>
    <p><font color ="yellow">This hotel....</font></p>
	</center>
  </body>
</html>
