<html>
  <head>
    <h1><center><b>BATES HOTEL</b></center></h1>
    <!-- Include the bootstrap stylesheets -->
    <link href="http://bootswatch.com/superhero/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
  <center>
    <div class="container">
      <div class="row">
       <div class="col-md-4"><a href="listofrooms"><button type = "button" class = "btn btn-primary">List of Rooms</button></a></div>
       <div class="col-md-4"><a href="makereservation"><button type = "button" class = "btn btn-success">Make Reservations</button></a></div>
       <div class="col-md-4"><a href="aboutus"><button type = "button" class = "btn btn-info">About Us</button></a></div>
      </div>
    </div>
	</center>
  </body>
</html>
