<html>
	<form method = "POST" action = "/makereservation">
		<label for = "name">Enter your name:</label>
		<input type = "text" name = "name" />
		<label>Select Type:</label>
		<select name = "type">
			<option value = "room1">Room 1</option>
			<option value = "room2">Room 2</option>
			<option value = "room3">Room 3</option>
		</select>
		<br />
		<input type = "submit" value = "Make Reservation" />
	</form>
</html>
